/* Ajustes para el Navbar 
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #ffffff;
  border-bottom: 1px solid #ddd;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  height: 70px;
}

/* Ajustes del contenedor principal para que no se solape con el navbar 
.main-content {
  margin-top: 80px;
  margin-left: 250px;
  padding: 20px;
  margin: 0;
}

/* Ajustes del logo 
.navbar .logo img {
  height: 50px;
  margin-left: 20px;
}

/* Barra de búsqueda 
.navbar .search-bar {
  flex: 1;
  display: flex;
  justify-content: center;
  position: relative; /* Importante para posicionar el ícono 
}

.navbar .search-bar input {
  width: 40%;
  padding: 8px 20px 8px 40px; /* Deja espacio para el ícono en el padding izquierdo 
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: #f4f4f4;
  outline: none;
}

/* Pseudo-elemento para el ícono
.navbar .search-bar::before {
  content: url('/public/lupa.svg'); /* Reemplaza con la ruta correcta 
  position: absolute;
  left: 15px; /* Ajusta la posición del ícono 
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  pointer-events: none; /* Asegura que no interfiera con el input 
}

/* Información del usuario 
.navbar .user-info {
  display: flex;
  align-items: center;
}

.navbar .user-info img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-left: 10px;
}
  */


/******************* HEADER *******************/
.header{
  position: fixed;
  top: 0;
  inset-inline: 0;
  z-index: 5;
  width: 100vw;
  height: var(--header__height);
  background-color: var(--color__white);
  box-shadow: 0px 1px 1px 0px #0008;

  display: flex;

  & .nav{
    width: 95%;
    max-width: 1200px;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & .nav__user__info{
      display: flex;
      align-items: center;
      gap: 0.5rem;

      & .nav__user__info__text{
        font-weight: 400;
      }

      & .nav__user__info__figure{
        width: 2rem;
        aspect-ratio: 1/1;
        height: 2rem;
      }
    }

    & .nav__cta{
      width: 4rem;
    }

    & .nav__search__bar{
      width: 30%;
      max-width: 20rem;
      display: flex;
      align-items: center;
      border-bottom: 1px solid #ccc;
      transition: all 0.3s ease;

      &:has(.nav__search__bar__input:focus-within){
        border-bottom: 1px solid #0ABD8C;
      }

      & .nav__search__bar__input{
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        padding: 0.5rem;
        margin: 0;
      }
    }
  }

}