.tc_container {
    padding: 1px;
    background-color: #D9D9D966;
}

.tc_container_card {
    margin: 40px;
    padding: 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin-top: 40px;
}

.card_filters {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px; /* Espacio entre los filtros */
}

.card_filters_one,
.card_filters_two,
.card_filters_tree {
    display: flex;
    flex-direction: column;
}

.card_filter_button {
    margin-right: 40px;
    
}
.ventas_container {
    margin: 40px;
}

.table_buttons {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    justify-content: flex-end;
}


.table_buttons button {
    background-color: #0ABD8C;
    color: white;
    border: none;
    padding: 5px 10px; /* Ajusta el padding para que el botón sea más pequeño */
    font-size: 14px; /* Disminuye el tamaño de la fuente */
    cursor: pointer;
}

.table_buttons button:hover {
    background-color: #0ABD8C;
}

.ventas_table {
    width: 100%;
    border-collapse: collapse;
}

.ventas_table .table_header, .ventas_table .table_row {
    display: grid;
    grid-template-columns: 0.5fr 1fr 2fr 1fr 1fr; /* Ajusta el ancho de las columnas */
}

.table_header {
    background-color: #0ABD8C;
    font-weight: bold;
    color: white;
    text-align: center;
}

.table_cell {
    border: 1px solid #433f3f;
    padding: 1px; /* Aumenta el padding para dar más espacio en las celdas */
    text-align: center;
}

.table_header .table_cell {
    background-color: #0ABD8C;
    font-weight: bold;
    color: white;
    padding: 10px; /* Asegura que la cabecera tenga el mismo padding */
}

.table_row .table_cell {
    background-color: #fff;
}

.table_row button {
    background-color: #0ABD8C;
    color: white;
    border: none;
    padding: 5px 15px; /* Ajusta el padding para que los botones tengan más espacio */
    font-size: 14px;
    cursor: pointer;
    margin: 5px;
}

.table_row button:hover {
    background-color: #0ABD8C;
}

.filters2 {
    padding: 20px;
    
    border-radius: 10px;
    margin-top: 20px;
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.controls_left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.controls_left label {
    margin-right: 10px;
}

.controls_left select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.controls_left button {
    padding: 5px 10px;
    background-color: #0ABD8C;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.controls_left button:hover {
    background-color: #089e78;
}

.controls_right button {
    padding: 5px 15px;
    background-color: #0ABD8C;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.controls_right button:hover {
    background-color: #089e78;
}


.graficos_aqui {
    margin-top: 50px;
    padding: 20px;
  }