.riesgo-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.input-group {
    display: flex;
    align-items: center; /* Alinea verticalmente los elementos */
    gap: 10px; /* Espacio entre los elementos */
}

.input-group label {
    margin-right: 10px; /* Espacio entre la etiqueta y el input */
}

.buscar-btn, .export-btn {
    padding: 5px 10px; /* Añade un poco de padding a los botones */
    cursor: pointer; /* Cambia el cursor al pasar sobre los botones */
}


.buscar-btn, .export-btn {
    padding: 10px 15px;
    background-color:   #0ABD8C;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.buscar-btn:hover, .export-btn:hover {
    background-color: #0ABD8C;
}

.chart-container {
    margin-top: 70px;
    text-align: center;
}

.doughnut-container {
    position: relative;
    width: 100%;
    max-width: 400px; /* Ajusta el tamaño máximo del gráfico */
    margin: 0 auto;
}

.table-container {
    margin-top: 40px;
}

.table-container table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

.table-container th, .table-container td {
    padding: 12px;
    border: 1px solid #ccc;
}

.table-container th {
    background-color: #0ABD8C;
    color: white;
}

.detalles-btn {
    background-color: #0ABD8C;
    color: white;
    padding: 8px 12px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.detalles-btn:hover {
    background-color: #0ABD8C;
}

.export-btn {
    margin-top: 20px;
    background-color: #0ABD8C;
    padding: 10px 15px;
    border-radius: 4px;
    color: white;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    max-width: 90%;
    text-align: center;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
